.style1 {
	background-color: #7c7c7c;
	color: #ffbf00;
	border: 1px solid #ffbf00;
	padding: 20px;
}

.style2 {
	background-color: #1d1dff;
	color: #ffaaa0;
	border: 1px solid #0dd02f;
	padding: 25px;
}
